body {
  font-family: sans-serif;
  background: linear-gradient(#ffefc2, #ffd5c2);
  text-align: center;
}

a {
  text-decoration: none;
}

label {
  display: block;
  text-align: left;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: black;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

nav {
  background-image: linear-gradient(#ffefc2, #ffde85);
  border-radius: 8px;
}
button {
  background-color: white;
  color: black;
  transition-duration: 0.3s;
  border-radius: 8px;
}
button:hover {
  background: #555555;
  color: white;
}
