body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.product-card {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

nav {
  background-image: linear-gradient(#f6dc8e, #f6ef8e);
}
